doctype html
html
  head
    title DanceWithVaibhav
    block scripts
    block style
  body
    nav#navbar.top 
        ul
            div#logo 
                img(src="star.png")
                | VDA
            li #[a(href = "/") Home] 
            li #[a(href = "/") About] 
            li #[a(href = "/") Services] 
            li #[a(href = "/") Class info]
            li #[a(href = "/contact") Contact]
    block content
    footer#footer 
        | Copyright © 2021 VaibhavDanceAcademy.com |All Rights Reserved
